.title{
    height: 20%;
    background-color: #FFD983;
}

.title a{
    color: white;
    font-size: 40px;
}

.title h1{
    text-align: left;
    display: inline;
    color: white;
    font-size: 50px
}

.whole{
    background-color: #FFECC1;
}

.inside{
    background-color: white;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
    padding-left: 3%;
    padding-bottom: 1%;
    padding-right: 3%;
    box-shadow: 20px 20px 6px silver;
    /* font-size: 60px; */

}

.inside p{
    color: black;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}

.inside h2{
    text-align: center;
    display: inline;
    color: black;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.inside h3{
    text-align: left;
    display: inline;
    color: black;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}


.button{
    vertical-align: middle;
    border: solid 1px black;
    border-radius: 5rem;
    background-color: white;
    color: black;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    font-size: 40px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.button:hover{
    background-color: black;
    color: white;
    border: solid 1px black;
    
}